/** Font faces */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: local('Lato Regular'), local('Lato-Regular'), url(http://themes.googleusercontent.com/static/fonts/lato/v7/9k-RPmcnxYEPm8CNFsH2gg.woff) format('woff');
}
@font-face {
    font-family: 'Lato';
    font-style: italic;
    font-weight: 900;
    src: local('Lato Black Italic'), local('Lato-BlackItalic'), url(http://themes.googleusercontent.com/static/fonts/lato/v7/VNUH7ZAcagYBWsAiBBCEYz8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}

/** Utility classes */
.container {
    margin: 0 auto;
    @media (min-width: $break-small) {
        width: $break-small-value;
    }
    @media (min-width: $break-medium) {
        width: $break-medium-value;
    }
    @media (min-width: $break-large) {
        width: $break-large-value;
    }
}
